

<link rel="stylesheet" href=@Url.Content("~/assets/css/nav.css") type="text/css" />

<nav>
    <ul>
        <li><a href="@Url.Content("~/Project/Index")"><span>Project</span></a></li>
        <li><a href="@Url.Content("~/bug/Index")"><span>Bug</span></a></li>
        <li><a href="@Url.Content("~/feature/Index")"><span>Feature</span></a></li>
        <li><a href="@Url.Content("~/environment/Index")"><span>Environment</span></a></li>
        <li><a href="@Url.Content("~/version/Index")"><span>Version</span></a></li>
        <li><a href="@Url.Content("~/user/Index")"><span>User</span></a></li>
    </ul>
</nav>
<button class="sign-out-button" onclick="location.href='/login'">Sign Out</button>
